<?xml version="1.0" encoding="utf-8"?>
<openerp>
  <data>



    <!--  ******************configuration estimation*************************************************** -->
    <menuitem action="" id="configuration_estimation_menuitem" name="Estimation Configuration " parent="project.menu_project_config" sequence="99"/>
    
    <!--  ****************** uniteoeuvre_window************************************************** -->
    <act_window context="{}" groups="" id="unite_oeuvreee_action" name="Paramètres Unité d'Oeuvre" res_model="aogp.unite.oeuvre.template" view_mode="tree,form" view_type="form"/>
    <menuitem action="unite_oeuvreee_action" id="unite_oeuvreee_menuitem" name="Paramètres Unité d'Oeuvre" parent="configuration_estimation_menuitem" sequence="7"/>



    <!--  ****************** complexite*********************************************************** -->
    <act_window context="{}" groups="" id="complexite_template_action" name="Paramètres Complexités" res_model="aogp.complexite.template" view_mode="tree,form" view_type="form"/>

    <menuitem action="complexite_template_action" id="complexite_menuitem" name="Paramètres Complexités" parent="configuration_estimation_menuitem" sequence="7"/>


 <!--  *************parametres estimation standard***************************** -->
  <act_window context="{}" groups="" id="parametre_template_action" name="Paramètres Estimation standard" res_model="aogp.project.param.estim.template" view_mode="tree,form" view_type="form"/>

    <menuitem action="parametre_template_action" id="parametre_template_menuitem" name="Paramètres Estimation standard" parent="configuration_estimation_menuitem" sequence="7"/>



    <!--  ****************** profil_window**************************************************************** -->
    <act_window context="{}" groups="" id="profil_template_action" name="Paramétres Profil" res_model="aogp.project.profil.template" view_mode="tree,form" view_type="form"/>
    <menuitem action="profil_template_action" id="project_profilee_menuitem" name="Paramétres Profil" parent="configuration_estimation_menuitem" sequence="7"/>
    
  
 
    
    <!--  ****************** LOTS************************************************************* -->
    <act_window context="{}" groups="" id="lot_action" name="Lots" res_model="aogp.project.lot.template" view_mode="kanban,tree,form" view_type="form"/>
    <menuitem action="lot_action" id="lots_menuitem" name="Lots Fonctionels" parent="configuration_estimation_menuitem" sequence="7"/>
  
   

  </data>
</openerp>